
/* Remove Bootstrap border-radius */
.navbar, .dropdown, .dropdown-menu, .form-control, .btn, .list-group-item,
.alert, .label, .modal-content, .panel, .panel-heading, .input-group-addon {
  border-radius: 0 !important;
}

/* Remove outline */
.btn:focus, .list-group-item {
  outline: none !important;
}

/* React Boostrap Modal */
.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.divider {
  height: 1px;
  width: 100%;
  display: block;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

div.account-update, div.transaction-update {
  margin-bottom: 15px;
}

div.account-transactions-list div.page-header {
  margin-top: 0;
}

div.account-transactions-list div.page-header a, div.account-transactions-list div.page-header a:hover {
  text-decoration: none;
  color: inherit;
}
